<app-filter
[all]="totalVideogames"
[inStock]="inStockVideogames"
[outOfStock]="outOfStockVideogames"
(selectAll)="onSelectedAll($event)"
(selectAvaliable)="onSelectedAvaliable($event)"
(selectNotAvaliable)="onSelectedNotAvaliable($event)"
>
</app-filter>
<section class="product-container">
    <div *ngFor="let item of videogames" (click)="onSelectedProduct(item)">
        <app-product
            [product]="item"
            *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)"
         >
         </app-product>
    </div>
</section>
