<app-filter
[all]="totalVideogames"
[inStock]="inStockVideogames"
[outOfStock]="outOfStockVideogames"

(selectFilterOnButtonChange)="onFilterChange($event)"
>
<!-- when the event 'selectFilterOnButtonChange' happens, the method 'onFilterChange()' will be called -->
</app-filter>
<section class="product-container">
    <div *ngFor="let item of videogames" (click)="selectedProduct = item">
        <app-product
            [product]="item"
            *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)"
         >
         </app-product>
    </div>
</section>