<article class="header-container">
    <!-- logo -->
    <div class="header-logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVDkB4ELNWBCJmECaSzks05HkRrEAz5Fd_9w&s" alt="logo">
        <span>Nostalgic gaming</span>
        <!-- menu -->
        <app-main-menu></app-main-menu>
    </div>
    <!-- hamburgur icon -->
    <div class="menu-icon">
         <img src="https://cdn-icons-png.flaticon.com/512/4856/4856386.png" alt="">
     </div>
    <!-- navbar -->
     <nav class="navbar">
        <button>Help</button>
        <button>Exchange & Returns</button>
        <button>Order tracker</button>
        <button>Sign up/login in</button>
     </nav>
</article>


