<article class="header-container">
    <!-- logo -->
    <div class="header-logo">
        <img src="" alt="">
    </div>
    <!-- navbar -->
     <nav>
        <span>Help</span>
        <span>Exchange & Returns</span>
        <span>Order tracker</span>
        <span>Sign up/login in</span>
     </nav>
     <!-- search bar -->
      <div>
         <input type="text">
         <button>
             search
         </button>
      </div>
     <footer>
        <span>home</span>
        <span>Products</span>
        <span>About</span>
        <span>Contact</span>

     </footer>
</article>
