<div class="filter-container">
  <span>Filter: </span>

  <div>
    <input
      type="radio"
      name="filter"
      value="all"
      [(ngModel)]="selectedFilterButtons"
      (change)="onSelectAllProducts()"
    />
    <span>{{ "All (" + all + ")" }}</span>
  </div>

  <div>
    <input
      type="radio"
      name="filter"
      value="true"
      [(ngModel)]="selectedFilterButtons"
      (change)="onSelectAvalibleProducts()"
    />
    <span>{{ "In Stock (" + inStock + ")" }}</span>
  </div>

  <div>
    <input
      type="radio"
      name="filter"
      value="false"
      [(ngModel)]="selectedFilterButtons"
      (change)="onSelecteNotAvaliable()"
    />
    <span>{{ "Out of Stock (" + outOfStock + ")" }}</span>
  </div>
</div>
