<div class="filter-container">
  <span>Filter: </span>

  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="selectedFilterButtons"
    (change)="onSelectFilterOnChange()"
  />
  <span>{{ "All (" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="true"
    [(ngModel)]="selectedFilterButtons"
    (change)="onSelectFilterOnChange()"
  />
  <span>{{ "In Stock (" + inStock + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="false"
    [(ngModel)]="selectedFilterButtons"
    (change)="onSelectFilterOnChange()"
  />
  <span>{{ "Out of Stock (" + outOfStock + ")" }}</span>
</div>
