<div class="product-detail">
  <div class="product-detail-close-btn">
    <button (click)="onCloseProductDetailCard()">x</button>
  </div>
  <div class="product-header">
    <h1>{{productDetailData.name}}</h1>
    <p class="price">$ {{productDetailData.price}}</p>
  </div>

  <div class="product-image">
    <img [src]="productDetailData.imageProduct" [alt]="productDetailData.name" />
  </div>

  <div class="product-info">
    <h2>Description</h2>
    <p>{{productDetailData.description}}</p>

    <h3>Features</h3>
    <ul *ngFor="let feature of features">
      <!-- <li *ngFor="let feature of product.features">{{ feature }}</li> -->
      <li>{{feature}}</li>
    </ul>

    <h3>Specifications</h3>
    <table>
      <tr>
        <th setBackground>Platform</th>
        <!-- <td>{{ product.platform }}</td> -->
        <td>{{productDetailData.brand}}</td>
      </tr>
      <tr>
        <th setBackground>model</th>
        <!-- <td>{{ product.genre }}</td> -->
        <td>{{productDetailData.model}}</td>
      </tr>
      <tr>
        <th setBackground>Color</th>
        <!-- <td>{{ product.releaseDate | date }}</td> -->
        <td>{{productDetailData.color}}</td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <!-- <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button> -->
    <button class="btn btn-primary">Add to Cart</button>
    <!-- <button class="btn btn-secondary" (click)="goBack()">Back</button> -->
    <button (click)="onCloseProductDetailCard()" class="btn btn-secondary">Back</button>
  </div>
</div>
