.product-detail {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 90vh;

  .product-detail-close-btn{
    display: flex;
    justify-content: flex-end;
    button{
      background-color: transparent;
      border: none;
      color: rgb(199, 115, 115);
      font-size: 30px;
      cursor: pointer;
      transition: .5s;
      &:hover{
        opacity: 0.8;
        color: red;
      }
    }
  }
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-header h1 {
  font-size: 1.4rem;
  margin: 0;
}

.product-header .price {
  font-size: 1.2rem;
  color: #28a745;
  font-weight: bold;
}

.product-image img {
  // width: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
}

.product-info h2,
.product-info h3 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
}

.product-info p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.product-info ul {
  padding-left: 15px;
  list-style-type: disc;
  font-size: 0.9rem;
}

.product-info table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.product-info th,
.product-info td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actions .btn {
  padding: 8px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.actions .btn-primary {
  background-color: #007bff;
  color: white;
}

.actions .btn-secondary {
  background-color: #6c757d;
  color: white;
}
