<article class="single-product">
  <div class="img-and-discont">
    <img [src]="product.imageProduct" alt="" />
    <div class="product-discont" *ngIf="product.discount">
      {{ (product.price * (product.discount / 100)).toFixed(2) }}%
    </div>
  </div>
  <div style="display: flex; gap: 20px; padding: 10px">
    <div>{{ product.name }}</div>
    <!-- increase and decrease btn -->
    <div class="btn-container">
      <button (click)="decrementCartValue()">-</button>
      <span>{{ addToCart }}</span>
      <button (click)="incrementCartValue()">+</button>
    </div>
  </div>
  <p>storage: {{ product.storage }}</p>
  <p>model: {{ product.model }}</p>
  <p>color: {{ product.color }}</p>
  <p>Price: {{ "$" + product.price }}</p>
  <p
    [ngStyle]="{
      display:
        product.discount == null || product.discount == 0 ? 'none' : 'block'
    }"
  >
    Discont: {{ product.discount }}
  </p>
  <p *ngIf="product.discount">
    Disconted price:{{ product.price - product.discount }}
  </p>
  <div
    [ngStyle]="{ display: product.inStock == 0 ? 'none' : 'block' }"
    style="color: red"
  >
    {{
      product.inStock >= 0
        ? "Only " + product.inStock + " are left"
        : +"no products avaliable"
    }}
  </div>
  <div
    class="product-in-stock"
    [ngStyle]="{
      fontWeight: 'bold',
      color: product.isAvaliable ? 'green' : 'red'
    }"
  >
    {{ product.isAvaliable ? "avaliable in stock" : "not avaliable in stock" }}
  </div>
  <div>
    <button (click)="onOpenProductDetail()" style="background-color: red; color: white; margin-top: 20px">see more details</button>
  </div>
</article>
