.single-product {
    background-color: #eeeeee;
    box-shadow: 1px 2px 3px #cbc5c5;
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }

    .img-and-discont{
      position: relative;
      img {
        width: 200px;
        height: 200px;
        transition: 0.5s;

      }
      .product-discont{
        position: absolute;
        top: 0;
        background: yellow;
        padding: 10px;
        border-radius: 10px 0px 10px 10px;
      }
    }

    .btn-container {
      display: flex;
      gap: 5px;

      button {
        background-color: black;
        border: none;
        color: white;
      }
    }
  }

  app-product-detail{
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 3;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* escurece o fundo */
    z-index: 1000;
    /* garante que fique acima dos elementos normais */
    display: flex;
    justify-content: center;
    align-items: center;
  }

